<h1>Admin Dashboard</h1>
<ul>
  <li><a href="/admin/users">Manage Users</a></li>
  <li><a href="/admin/posts">Manage Blog Posts</a></li>
  <li><a href="/admin/contacts">View Contact Submissions</a></li>
</ul>
<p>Total users: <%= userCount %></p>
<p>Total posts: <%= postCount %></p>
