<a href="/">Home</a>
<a href="/blog">Blog</a>
<% if (user) { %>
  <a href="/dashboard">Dashboard</a>
<% } else { %>
  <a href="/login">Login</a>
<% } %>
<% if (user?.isAdmin) { %>
  <a href="/admin">Admin</a>
<% } %>
<button id="theme-toggle" title="Toggle light/dark mode">
  🌓
</button>


